html,
body {
    height: 100%;
}


#cover {
    background: url('/Img/cover.png') no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;

}

#cover-caption {
    width: 100%;
}
