body {
    height: 100%;
}

#logo {
    color: ;
}

#cover {
    background-size: cover;
    color: black;
    height: 100%;
    text-align: center;
}

#cover-caption {
    color: yellow;
    background: black;

}
